﻿
@{
    ViewBag.Title = "Croods";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<p> The Croods (2013) </p>
<p>
    Animirani film „The Croods“ je još jedna zabava za celu porodicu, 
    u pravom smislu reči. Mnogi će reći da crtani filmovi nisu ono što su nekad bili, 
    nostalgično se prisećajući onih koje su gledali kao deca. 
    Međutim, nama se čini da je ta situacija upravo suprotna.
    Crtani filmovi koje smo gledali kao deca, kao da gube onu čar po kojoj ih pamtimo u segmentima naših dečijih sećanja, nakon što ih ponovo gledamo sada kao odrasli.
    Zapravo nam se čini da su crtaći poslednjih decenija sve bolji i univerzalniji,
    u smislu sadržinske pristupačnosti gotovo svim generacijama. Upravo jedan od takvih jeste i ovaj projekat, te ako ga budete gledali sa svojim detetom,
    zasigurno se nećete dosađivati, pa ni ako ga budete gledali sami ili u društvu odraslih.
    Priča je smeštena u neidentifikovani period istorije,
    koji po svemu sudeći najpribližnije predstavlja neki vid praistorije.
    Takođe, crtać je pun nepoznatih životinjskih vrsta koje se očigledno ne temelje na realnosti,
    već uglavnom na mašti. Tako ćete npr. u ovom crtaću videti neku vrstu slona sa šarama žirafe, kao i minijaturne slonove ili razne vrste ptica za koje smo prilično sigurni da nisu postojale ni u jednom periodu zemaljske istorije.
    Međutim, ovo je crtani film i kao što je običaj reći, u njemu je sve moguće. Ono na šta zapravo ciljamo  ja da su mnogi crtani filmovi poput animiranog filmskog serijala „Ice Age“, osim što su zabavni, 
    ujedno i blago edukativni za decu. 
    Tako deca uz crtani film Ice Age mogu npr. naučiti kako izgleda mamut ili sabljozubi tigar, što sa crtaćem The Croods nije slučaj, 
    ali ga to ipak ne čini mnogo manje vrednim od drugih, barem što se toga tiče.
</p>


<img src="~/TemplateForHomePage/images/cruds.jpg" /><div class="b-wrapper">