﻿
@{
    ViewBag.Title = "F9";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Žanr:
    Akcija / Avantura / Krimi
</p>
<p>
    Režija:
    Justin Lin

</p>
<p>
    Glavne uloge:
    Charlize Theron, Helen Mirren, Vin Diesel,
    Lucas Black, Michelle Rodriguez, Nathalie Emmanuel,
    Tyrese Gibson, John Cena, Michael Rooker, Jordana Brewster, Finn Cole …
</p>

<p>
    Bez obzira na to koliko si brz, niko ne može pobeći od svoje prošlosti.
    Dom Toreto vodi miran život sa Leti i njihovim sinom, malim Brajanom, ali oni znaju da opasnost uvek vreba izvan njihovog mirnog horizonta.
    Ovog puta pretnja će primorati Doma da se suoči sa gresima iz svoje prošlosti ako želi da spasi one koje najviše voli.
    Njegova ekipa se okuplja kako bi zaustavila vrhunskog vozača i veoma veštog ubicu koji namerava da uništi svet: čoveka koji je takođe slučajno i Domov napušteni brat, Džejkob.
    PAKLENE ULICE 9 režira Džastin Lin, koji je režirao i treće, četvrto, peto i šesto poglavlje franšize, kada ona i prerasta u svetski blokbaster. Akcija se odigrava širom sveta, od Londona i Tokija, od centralne Amerike do Edinburga i od tajnih bunkera Azerbejdžana do prepunih ulica Tbilisija.
</p>

<img src="~/TemplateForHomePage/images/fastf9.jpg" /><div class="b-wrapper">