﻿
@{
    ViewBag.Title = "Free guy";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>


    IZVORNO IME:	Free Guy
</p>
<p>
    REDITELJ:	Shawn Levy
</p>
<p>
    ŽANR:	komedija, akcija
</p>
<p>
    ULOGE:	Ryan Reynolds, Jodie Comer, Joe Keery, Lil Rel Howery, Utkarsh Ambudkar, Taika Waititi
</p>
<p>
    TRAJANJE FILMA:	115 min
</p>

<p>
    Guy je usamljeni bankar koji otkrije da je zapravo pozadinski lik (NPC – non playable character) u svjetskoj video igri Free City. Taoci, pljačke, eksplozije, 
    otmice i ubojstva dio su njegovog svakodnevnog života. 
    Ipak jednog dana mu “pukne film” te uzima sudbinu u svoje ruke.
</p>

    <img src="~/TemplateForHomePage/images/freeguy.jpg" /><div class="b-wrapper">
