﻿@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    @*<title>Gaming Blog Bootstarp Website Template | Home :: w3layouts</title>*@
    <link href="~/TemplateForHomePage/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/TemplateForHomePage/js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="~/TemplateForHomePage/css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Ubuntu:300,400,500,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/TemplateForHomePage/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript">
        $(function () {

            var filterList = {

                init: function () {

                    // MixItUp plugin
                    // http://mixitup.io
                    $('#portfoliolist').mixitup({
                        targetSelector: '.portfolio',
                        filterSelector: '.filter',
                        effects: ['fade'],
                        easing: 'snap',
                        // call the hover effect
                        onMixEnd: filterList.hoverEffect()
                    });

                },

                hoverEffect: function () {

                    // Simple parallax effect
                    $('#portfoliolist .portfolio').hover(
                        function () {
                            $(this).find('.label').stop().animate({ bottom: 0 }, 200, 'easeOutQuad');
                            $(this).find('img').stop().animate({ top: -30 }, 500, 'easeOutQuad');
                        },
                        function () {
                            $(this).find('.label').stop().animate({ bottom: -40 }, 200, 'easeInQuad');
                            $(this).find('img').stop().animate({ top: 0 }, 300, 'easeOutQuad');
                        }
                    );

                }

            };

            // Run the show!
            filterList.init();


        });
    </script>


    <script language="javascript" type="text/javascript">

        function Popup(e) {
            var ReturnValue = alert(" NESTO");
            alert(ReturnValue);
        }
    </script>

</head>
<body>
    <!-- Header Starts Here -->
    <!--<div class="header">
        <div class="container">
            <div class="logo">
                <a href="~/TemplateForHomePage/index.html"><img src="~/TemplateForHomePage/images/logo.png" alt=""></a>
            </div>
            <span class="menu"></span>
            <div class="navigation">
                <ul class="navig cl-effect-3">-->
    @*<li><a href="~/TemplateForHomePage/index.html">Home</a></li>*@
    <!--@Html.ActionLink("Vidly", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("New Rental", "New", "Rentals")</li>
            <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
            <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
        </ul>
        @Html.Partial("_LoginPartial")

        <li><a href="~/TemplateForHomePage/contact.html">Contact</a></li>
    </ul>-->
    @*<div class="search-bar">
            <input type="text" placeholder="Search" required="" />
            <input type="submit" value="" />
        </div>*@
    <!--<div class="clearfix"></div>
                <script>
                    $("span.menu").click(function () {
                        $(".navigation").slideToggle("slow", function () {
                            // Animation complete.
                        });
                    });
                </script>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>-->
    <div class="banner"></div>
    <!-- Header Ends Here -->
    <div class="banner-bot">
        <div class="container">
            <h2>Hej!</h2>
            <p>Priključi se i ti</p>
            <p>Iznajmljivanje najnovijih filmova po najpovoljnijim cenama</p>
            @*<nav class="cl-effect-3"><a href="#">More</a></nav>*@
        </div>
    </div>
    <!-- Gallery Starts Here -->
    <div class="gallery">
        <div class="container">
            <h3>NAJNOVIJI FILMOVI</h3>
            <div class="gallery-top">
                @*//da nema one kruzice*@
                @*<ul id="filters" class="clearfix">
                    <li><span class="filter active" data-filter="app card icon logo web">1</span></li>
                    <li><span class="filter" data-filter="app">2</span></li>
                    <li><span class="filter" data-filter="card">3</span></li>
                    <li><span class="filter" data-filter="icon">4</span></li>
                </ul>*@
                <div id="portfoliolist">
                    <div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                           <a href="~/Home/F9" class="b-link-stripe b-animate-go  thickbox">
                                <img src="~/TemplateForHomePage/images/fastf9.jpg" /><div class="b-wrapper">
                     
                                <h2 class="b-animate b-from-left    b-delay03 "> </h2>


</div>
                            </a>
                        </div>
                    </div>

                    <div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="~/Home/Venom" class="b-link-stripe b-animate-go  thickbox">
                                <img src="~/TemplateForHomePage/images/venom.jpg" /><div class="b-wrapper">

    <h2 class="b-animate b-from-left    b-delay03 "> </h2>
</div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="~/Home/Cruds" class="b-link-stripe b-animate-go  thickbox">
                                <img src="~/TemplateForHomePage/images/cruds.jpg" /><div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "> </h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio logos mix_all" data-cat="logo" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                           <a href="~/Home/Free" class="b-link-stripe b-animate-go  thickbox">
                                <img src="~/TemplateForHomePage/images/freeguy.jpg" /><div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "> </h2>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;">
                        <div class="portfolio-wrapper">
                            <a href="~/Home/Tildeath" class="b-link-stripe b-animate-go  thickbox">
                                <img src="~/TemplateForHomePage/images/tildeath.jpg" /><div class="b-wrapper">
                                    <h2 class="b-animate b-from-left    b-delay03 "> </h2>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Gallery Ends Here -->
    <!-- Video Part starts Here -->
    <div class="video-serch">
        <div class="container" >
            <div class="col-md-6 vid-col" >
                    <p >Najpopularniji film ove godine </p>
                    <p >Po prvi put u istoriji kinematografije, Spajdermen, naš prijatelj iz komšiluka je bez maske i bez mogućnosti da odvoji svoj svakodnevni život od visokih uloga da bude superheroj. Kada se obrati za pomoć Doktoru Strejndžu, ulozi postaju još opasniji, primoravajući ga da otkrije šta zaista znači biti Spajdermen.</p>
               
               
    @*<div class="more">
            <a href="#">See more videos</a>
        </div>*@
            </div>
            <div class="col-md-6 vid-coll">
                <img src="~/TemplateForHomePage/images/najpop.jpg" alt="">
                @*<div class="play-but">
                    <a href="#small-dialog5" class="thickbox play-icon popup-with-zoom-anim"><img src="~/TemplateForHomePage/images/vid-play.png" alt="" /></a>
                </div>*@
                <!--pop-up-box-->
                <script type="text/javascript" src="~/TemplateForHomePage/js/modernizr.custom.53451.js"></script>
                <link href="~/TemplateForHomePage/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
                <script src="~/TemplateForHomePage/js/jquery.magnific-popup.js" type="text/javascript"></script>
                <!--pop-up-box-->
                <div id="small-dialog5" class="mfp-hide">
                    <iframe src="//player.vimeo.com/video/38584262" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen> </iframe>
                </div>
                <script>
                    $(document).ready(function () {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                    });
                </script>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Video Part Ends Here -->
    <!-- What New Part starts Here -->
    <div class="what-new">
        <div class="container">
            <div><img src="~/TemplateForHomePage/images/atte.jpg" /> <img src="~/TemplateForHomePage/images/atte.jpg" /><h3>! AKCIJE !</h3>  <img src="~/TemplateForHomePage/images/atte.jpg" /> <img src="~/TemplateForHomePage/images/atte.jpg" /></div>
            <h5>Popusti se ne sabiraju!</h5>
            <div class="blog-news">
                <div class="blog-news-grid">
                    <div class="news-grid-left">
                        <small>SVAKOG</small>
                        <h4>1.</h4>
                        <small>U MESECU</small>
                    </div>
                    <div class="news-grid-right">
                        <h4>Dan komedija</h4>
                        <p>Tvoje omiljene komedije su sada svakog prvog u mesecu na popustu od 10% </p>
                        <img class="slika" src="~/TemplateForHomePage/images/wow1.jpg" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="blog-news-grid b_n_g">
                    <div class="news-grid-left">
                        <small>SVAKOG</small>
                        <h4>28.</h4>
                        <small>U MESECU</small>
                    </div>
                    <div class="news-grid-right">
                        <div></div>
                        <h4>Novi filmovi</h4>
                        <p>Ukoliko si odgledao sve naše filmove, ne brini! Svakog 28. u mesecu ubacujemo nove filmove</p>
                        <img class="slika" src="~/TemplateForHomePage/images/amazing.jpg" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="blog-news b_n">
                <div class="blog-news-grid">
                    <div class="news-grid-left">
                        <small>SVAKOG</small>
                        <h4>7.</h4>
                        <small>U MESECU</small>
                    </div>
                    <div class="news-grid-right">
                        <h4>Totalni popust</h4>
                        <p>Svakog 7. u mesecu 10% popusta na CEO asortiman</p>
                        <img class="slika" src="~/TemplateForHomePage/images/awe.jpg" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="blog-news-grid b_n_g">
                    <div class="news-grid-left">
                        <small>SVAKOG</small>
                        <h4>15.</h4>
                        <small>U MESECU</small>
                    </div>
                    <div class="news-grid-right">
                        <h4>Dan horora</h4>
                        <p>Tvoji omiljeni horori su sada svakog prvog u mesecu na popustu od 10%</p>
                        <div class="slika"><img  src="~/TemplateForHomePage/images/wow2.jpg" /></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- What New Part Endss Here -->
    <!-- Footer Starts Here -->
    <div class="footer">
        <div class="container">
            <ul class="social">
                <li><i class="fa"></i></li>
                <li><i class="fb"></i></li>
                <li><i class="fc"></i></li>
            </ul>
            @*<p>&copy; 2020 Gaming Blog. All Rights Reserved. Design by <a href="http://w3layouts.com">W3layouts</a></p>*@
        </div>

    </div>
    <!-- Footer Ends Here -->
</body>
</html>