﻿
@{
    ViewBag.Title = "Till death";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Režija: S.K. Dale
</p>
<p>
    Uloge: Megan Fox, Eoin Macken, Callan Mulvey
</p>
<p>
    Više o filmu: https://www.imdb.com/title/tt11804152/
</p>
<p>
    Trailer: https://youtu.be/jFn0MbXETnU
</p>
<p>
    Pogledajte još: Gerald's Game (2017)
</p>

<p>

    Recenzije Till Death diljem interneta uglavnom počinju raznim konstatacijama u vezi Megan Fox,
    glavne glumice filma, ali ova neće početi tako (mada je ipak počela).
    Većina recezenata tvrdi kako je Till Death povratak dotične mlade glumice i kako će joj ovaj triler horor revitalizovati posrnulu karijeru ali mi se uzdržavamo od takvih (pr)ocena,
    pre svega zbog toga što (ako nam verujete na reč) nismo njeni fanovi i ovo nam je njen prvi pogledani film.
    Nešto više o Megan u kasnijem delu opisa, prvo da se pozabavimo samim filmom. Emma (Megan Fox) je udata za Marka (Eoin Macken),
    uspešnog advokata koji je zaposlen u još uspešnijoj advokatskoj kancelariji. Njih dvoje su se upoznali kada je Mark zastupao Emmu,
    nakon jednog brutalnog napada koji je doživela i kada je zamalo bila ubijena. Njen napadač je uhapšen i osuđen, Emma se smuvala sa svojim braniocem, nešto kasnije su se i venčali i sada uživaju u luksuzu (što vidimo odmah na početku filma) i braku koji nije baš toliko skladan (što takođe vidimo na početku ali i nešto malo kasnije). Naime, Emma ima tamnoputog ljubavnika a Mark pokušava na sve načine spasiti brak i vratiti u njega stare emocije... Poslednje čega se dosetio je da jedne zimske večeri sa svojom suprugom ode u kuću kraj jezera kako bi tu proveli romantični vikend i ponovo raspalili stari plamen ljubavi... No, sudba je htela da se pre svega raspali pištolj
    a sticajem okolnosti koje ćete otkriti kada budete gledali ovaj film Emma se našla vezana za Markovo mrtvo telo i potpuno bespomoćna.
</p>
<img src="~/TemplateForHomePage/images/tildeath.jpg" /><div class="b-wrapper">