﻿
@{
    ViewBag.Title = "Venom";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Žanr filma:
    Akcija, horor, sci-fi, superhero
</p>
<p>
    Redatelj:
    Ruben Fleischer
</p>
<p>
    Scenarist:
    Kelly Marcel, Todd McFarlane
</p>

<p>
    Tom Hardy je Eddie Brock, fotoreporter kojemu se život promijeni kada se uplete u istragu sumnjivih laboratorijskih testiranja na ljudima koja krenu po zlu.
    On i sam postaje dio laboratorijske priče, postaje Venom!
    Venom je novi Američki superhero film pravljen prema liku iz Marvel Stripova istog imena.
    Produkcije od Columbia Pictures u suradnji s Marvelom i distribuiran od Sony Pictures Releasing, 
    zamišljen je kao prvi film Sony/Marvel svemira filmova. Redatelj filma je Ruben Fleischer po scenariju od Scott Rosenberg, Jeff Pinkner i Kelly Marcel, 
    a zvijezda filma je Tom Hardy kao Eddie Brock / Venom,
    zajedno s Michelle Williams, Riz Ahmed, Scott Haze i Reid Scott.

</p>

    <img src="~/TemplateForHomePage/images/venom.jpg" /><div class="b-wrapper">
